<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyao.xiaoqing.mapper.PostMapper">
        <select id="page" resultType="com.xueyao.xiaoqing.pojo.Post">
            select *
                from post
           <where>

               <if test="name!=null and name!=''" >
                   content LIKE concat('%', #{name}, '%')
               </if>
           </where>
            limit #{start},#{end}

        </select>
</mapper>